/* GLOBAL CSS */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap');
:root {
    /* --primary: rgb(8, 32, 50);
    --secondary: rgb(44, 57, 75);
    --tertiary: rgb(51, 71, 86);
    --accent: rgb(255, 76, 41);
    --light: rgb(238, 238, 238); */
    --primary: #72d9aa;
    --secondary: #37a38e;
    --tertiary: #41c15d;
    --accent: #ff8456;
    --main-bg: rgb(23, 23, 23);
    --accent-low-opacity: rgb(255, 132, 86, 0.4);
    --faded-light: #ffffff11;
    --bg-alt: #2c3333;
    --shineCard-color: rgb(23, 23, 23);

    /* starting vals */
    --mouse-x: 30%;
    --mouse-y: 45%;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
a,
button {
    font-family: 'Golos', sans-serif;
}

body {
    background-color: var(--main-bg);
}

#root {
    background-color: var(--main-bg);
    overflow-x: hidden !important;
}

#main-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    /* left: 10%; */
    z-index: 10;
    /* background-color: var(--faded-light); */
    transition: background-color 0.2s ease;
}

.center-container {
    display: flex;
    justify-content: center;
}

.l-r-pannel-wrap {
    display: flex;
    flex-direction: row;
    height: 50dvh;
    background-color: var(--main-bg);
}

.pannel-l,
.pannel-r {
    padding-top: 3vh;
    display: flex;
    justify-content: space-between;
    z-index: 0;
}
.pannel-l {
    padding-left: clamp(50px, 10%, 200px);
    margin-left: -40px;
    background-color: var(--main-bg);
    color: var(--primary);
    z-index: 1;
}
.pannel-r {
    z-index: 0;
    color: var(--main-bg);
    width: 100%;
    border-bottom-left-radius: 25px;
}

.dynamic-gradient {
    background: radial-gradient(
            circle at var(--mouse-x) var(--mouse-y),
            rgb(238, 238, 238, 0.5),
            rgb(238, 238, 238, 0.1),
            rgb(23, 23, 23, 0.5)
        ),
        radial-gradient(
            circle at 5% 35%,
            var(--primary),
            var(--accent),
            var(--secondary),
            var(--main-bg)
        );
}

.pannel-r .ne-ith-eb,
.pannel-l #oww {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.pannel-l #oww {
    align-items: right;
    text-align: right;
}
.pannel-r .ne-ith-eb {
    align-items: left;
}

.pannel-r .ne-ith-eb span,
.pannel-l #oww span {
    font-size: clamp(8vh, 8rem, 12vh);
    letter-spacing: 8px;
    line-height: 0;
}

.pannel-l #oww span {
    font-weight: 600;
}

#intro {
    background-color: var(--main-bg);
}

#intro .icon {
    padding-bottom: 8px;
}

#intro .heading h2 {
    font-family: 'Domine', serif;
}

.text-body {
    font-size: large;
}

.color-text {
    color: var(--primary);
    font-weight: 700;
}

.underline-text {
    color: var(--primary);
    border: 1px solid var(--secondary);
    text-align: center;
}

.screen-preview.mobile {
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
}
.screen-preview.mobile img {
    /* width: clamp(200px, 100%, 450px); */
    /* width: inherit; */
    bottom: 0;
    left: 50%;
    height: 105%;
    z-index: 1;
    position: absolute;
    transform: translateX(-50%);
}

.screen-preview.mobile .video-container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
}

.video-container video {
    position: relative;
    width: 100%;
    height: inherit;
}

.shineCardsContainer {
    background-color: var(--main-bg);
    display: flex;
    justify-content: center;
}

.headline-wrap h2 {
    color: var(--tertiary);
    font-weight: 700;
}

/* Cool hover cards// */

#shineCards {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    max-width: 1216px;
    width: calc(100% - 20px);
    justify-content: center;
    /* background-color: var(--accent); */
    padding: 40px;
}

#shineCards:hover > .shineCard::after {
    opacity: 1;
}

.shineCard {
    /* background-color: var(--accent); */
    background: radial-gradient(
        circle at -20% -40%,
        var(--secondary),
        var(--main-bg)
    );
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 260px;
    flex-direction: column;
    position: relative;
    width: 300px;
}

.shineCard:hover::before {
    opacity: 1;
}

.shineCard::before,
.shineCard::after {
    border-radius: inherit;
    content: '';
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.shineCard::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.1),
        transparent 40%
    );
    z-index: 3;
}

.shineCard::after {
    background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.4),
        var(--accent-low-opacity),
        transparent 40%
    );
    z-index: 1;
}

.shineCard > .shineCard-content {
    background-color: var(--shineCard-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
}

/* -- ↓ ↓ ↓ extra shineCard content styles ↓ ↓ ↓ -- */

.shineCard-image {
    align-items: center;
    display: flex;
    height: 140px;
    justify-content: center;
    overflow: hidden;
    font-size: 6em;
    opacity: 0.25;
    transition: all 0.3s ease;
}

.shineCard-image .myLogo {
    filter: invert(100);
    opacity: 0.6;
    max-width: 11rem;
}

.shineCard:hover .shineCard-image {
    opacity: 0.45;
}

.shineCard-info-wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 0px 20px;
}

.shineCard-info {
    align-items: flex-start;
    display: flex;
    gap: 10px;
}

.shineCard-info > i {
    font-size: 1em;
    height: 20px;
    line-height: 20px;
}

.shineCard-info-title > h3 {
    font-size: 1.1em;
    line-height: 20px;
}

.shineCard-info-title > h4 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.85em;
    margin-top: 8px;
}

#details {
    /* clip-path: polygon(0 0, 0 880px, 100% 0); */
    padding: clamp(1rem, 2%, 10rem);
    background: radial-gradient(
        circle at 70% 87%,
        var(--secondary),
        var(--primary)
    );
    border-radius: 10px;
}
#details .content-card {
    background-color: var(--main-bg);
    padding: 0;
    border-radius: 10px;
    box-shadow: inset 0 0 12px 1px rgba(0, 0, 0, 0.5);
}

#details .content-card button {
    /* width: 75%; */
    padding: 1rem 2rem;
    font-size: larger;
    background-color: var(--faded-light);
    border-color: var(--primary);
    box-shadow: 0 0 5px var(--accent);
}

button a {
    width: 100%;
    height: 100%;
    /* line-height: 3rem; */
}

#details .content-card button:hover {
    border-color: var(--secondary);
    box-shadow: 0 0 10px 3px var(--accent);
}
/* Carousel */
#__next {
    padding: 20px;
}
.image-item {
    padding: 20px 0 20px 20px;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media (max-width: 1000px) {
    body {
        align-items: flex-start;
        overflow-x: hidden !important;
    }

    .text-body {
        font-size: medium;
    }
    #shineCards {
        max-width: 1000px;
        padding: 10px 0px;
    }

    .shineCard {
        flex-shrink: 1;
        width: calc(80% - 4px);
    }

    #main-nav .navbar-collapse {
        /* text-align: end; */
        border-radius: 20px 0 20px 20px;
        border: 3px solid var(--faded-light);
    }

    #main-nav .container {
        justify-content: end;
        border-radius: 20px;
    }

    #main-nav .container .navbar-nav {
        align-items: end;
        flex-direction: column;
        padding-right: 10%;
        z-index: 1000;
        border-radius: 20px;
    }
}

@media (max-width: 500px) {
    .pannel-r .ne-ith-eb span,
    .pannel-l #oww span {
        font-size: clamp(5vh, 6rem, 12vh);
        letter-spacing: 8px;
        line-height: 0;
    }
    .shineCard {
        width: 100%;
        height: 180px;
    }

    .shineCard-image {
        height: 80px;
    }

    .shineCard-image > i {
        font-size: 3em;
    }

    .shineCard-info-wrapper {
        padding: 0px 10px;
    }

    .shineCard-image {
        font-size: 3em;
    }

    .shineCard-image .myLogo {
        max-width: 2em;
    }

    .shineCard-info-title > h3 {
        font-size: 0.9em;
    }

    .shineCard-info-title > h4 {
        font-size: 0.8em;
        margin-top: 4px;
    }
}

@media (max-width: 320px) {
    .pannel-r .ne-ith-eb span,
    .pannel-l #oww span {
        font-size: clamp(3vh, 4rem, 12vh);
        letter-spacing: 8px;
        line-height: 0;
    }
    .shineCard {
        width: 100%;
    }
}
